[project]
	description = vim profile
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zhijia,.zhang (jiahut)
[access "refs/for/refs/*"]
	read = group user/zhijia,.zhang (jiahut)
	push = group user/zhijia,.zhang (jiahut)
	label-Code-Review = -2..+2 group user/zhijia,.zhang (jiahut)
	label-Verified = -1..+1 group user/zhijia,.zhang (jiahut)
	rebase = group user/zhijia,.zhang (jiahut)
	removeReviewer = group user/zhijia,.zhang (jiahut)
	submit = group user/zhijia,.zhang (jiahut)
[access "refs/heads/*"]
	read = group user/zhijia,.zhang (jiahut)
	create = group user/zhijia,.zhang (jiahut)
	push = +force group user/zhijia,.zhang (jiahut)
	pushMerge = group user/zhijia,.zhang (jiahut)
[access "refs/tags/*"]
	push = +force group user/zhijia,.zhang (jiahut)
	pushTag = group user/zhijia,.zhang (jiahut)
	pushSignedTag = group user/zhijia,.zhang (jiahut)
